kind: KubeletConfiguration
apiVersion: kubelet.config.k8s.io/v1beta1
featureGates:
  DynamicKubeletConfig: true
authentication:
  anonymous:
    enabled: false
  x509:
    clientCAFile: "/var/lib/kubelet/pki/ca.crt"
clusterDomain: "cluster.local"
clusterDNS:
  - "10.32.0.10"
runtimeRequestTimeout: "15m"
